<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Selection</title>
    <link rel="stylesheet" href="C:\Users\najih\Desktop\Live Arena\static\booking.css">
</head>

<body>
    <nav class="navbar">
        <img src="C:\Users\najih\Downloads\LA-03-removebg-preview.png" alt="LA logo" class="navbar logo">
        <ul class="navbar-menu">
            <li><a class=":active" href="#"></a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">PURCHASING</a></li>
            <li><a href="#">PROFILE</a></li>
        </ul>
     </nav>

     <div class="image-section">
        <img src="C:\Users\najih\Downloads\jhene.jpg" alt="Event Image" class="event-image">
    </div>

  
 <div class="container">
    <div class="form">
        <label for="section">Section :</label> 
        <select id="section" onchange="updateSection()">
            <option value="undefined">SELECT</option>
          <option value="VIP">VIP - FREE STANDING</option>
          <option value="CAT 1">CAT1 - FREE STANDING</option>
        </select>        
       <br> 
        <label for="ticket-number">Number of ticket(s) :</label>
        <select id="ticket-number" onchange="updateSeatCount()">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    
    </div>
 
    <div class="booking-details">
        <h3>BOOKING DETAILS</h3>
        <p>Section: <span id="selected-section"></span></p>  
        <p>Status: <span class="status">AVAILABLE</span></p>
        <p>Price: RM690</p>
        <p>Number of seats: <span id="seat-count-summary">0</span></p>
        <button class="book-now-btn" id="book-now">Book Now</button>
    </div>
 </div>

 <footer>
    <div class="footer-content">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>Copyright &copy; 2024 Live Arena. All rights reserved.</p>
    </div>
</footer>
 <script>
     function updateSection() {
            const section = document.getElementById('section').value;
            document.getElementById('selected-section').innerText = section;
            
        }
    // JavaScript function to update the seat count
    function updateSeatCount() {
        var seatCount = document.getElementById("ticket-number").value;
        // Update the seat count in the form
        document.getElementById("seat-count").innerText = seatCount;
        // Also update the seat count in the booking details section
        document.getElementById("seat-count-summary").innerText = seatCount;
    }
 </script>

</body>
</html>
