body { 
    background-color: #121212; 
    font-family: Arial, sans-serif; 
    color: #FFFFFF; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
} 
 
.register-form { 
    background-color: #1E1E1E; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    max-width: 400px; 
    width: 100%; 
} 
 
.register-form h2 { 
    margin-bottom: 20px; 
    color: #FFD700; 
    text-align: center; 
} 
 
.input-container input { 
    width: 100%; 
    padding: 10px; 
    background-color: #333333; 
    border: 1px solid #444444; 
    border-radius: 5px; 
    color: #FFFFFF; 
} 
 
.terms p{ 
    font-size: 12px; 
    color: #AAAAAA; 
    text-align: center; 
} 
 
button { 
    width: 100%; 
    padding: 10px; 
    background-color: #FFD700; 
    border: none; 
    border-radius: 5px; 
    color: #121212; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s; 
} 
 
button:hover { 
    background-color: #FFC107; 
}
