<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Live Arena</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="C:\Users\najih\Desktop\Live Arena\static\css\style.css">
    </head>
    <body>
        <nav>
            <label class="logo">Live Arena</label>
            <ul>
                <li><a class=":active" href="#"></a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SELECT DATE & SECTION</a></li>
                <li><a href="#">PURCHASING</a></li>
            </ul>
        </nav>
        <section class="JA"> 
            <div class="jhene aiko"> 
                <h3>Jhene Aiko - The Magic Hour Tour</h3>
                <p>Join Jhene Aiko on her upcoming tour in Kuala Lumpur!</p>
            </div>
        </section>
        <div class="container">
             <div class="poster">
                <img class="centered-image" src="C:\Users\najih\Downloads\JheneAiko_First1200x1200.jpg" alt="Concert Image">
            </div>
            
            <div class="detail">
                <h2> ZEPP KUALA LUMPUR </h2>
                <h3>1.10.2024 8.30PM</h3>
            </div>
            
            <div class="left-plan">
            <div class="stage">STAGE</div>

            <div class="section floor">
                <div class="vip">VIP<br>Rockzone</div>
                <div class="cat1">CAT 1<br>General Admission</div>
                <div class="cat2">CAT 2<br>(UL) Premium Seating</div>
             </div>

             <div class="price-list">
                <div class="price vip-price">VIP<br>RM890</div>
                <div class="price cat1-price">CAT 1<br>RM690</div>
                <div class="price cat2-price">CAT 2 <br>RM490</div>
             </div>
    </body>
</html>