<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetpw.css') }}">
</head>
<body>
    <header>
        <nav class="navbar"> 
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/LA-03-removebg-preview.png') }}" alt="LA logo" class="navbar-logo"> 
            </div>
            <ul class="navbar-menu"> 
                <li><a href="#">HOME</a></li> 
                <li><a href="#">PURCHASING</a></li> 
                <li><a href="{{ url_for('logout') }}">LOGOUT</a></li> 
            </ul> 
            <div class="profile-menu"> 
                <span class="profile-name">{{ user.username }}</span> 
            </div>
        </nav>
    </header> 

    <section class="profile-section">
        <div class="profile-container">
            <h2>Reset Password</h2>
            <form method="POST" action="{{ url_for('reset_password') }}">
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" name="new_password" id="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" name="confirm_password" id="confirm_password" required>
                </div>
                <button type="submit" class="reset-password-button">Reset Password</button>
            </form>
            <a href="{{ url_for('profile') }}" class="cancel-button">Cancel</a>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <p>Copyright &copy; 2024 Live Arena. All rights reserved.</p>
        </div>
</footer>
</body>
</html>
